/* Josh W. Comeau's CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body, h1, h2, h3, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}


